body{
    background-color: #0a0a0a;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: #ebeae4;
    text-align: center;
}

h1{
    text-align: center;
    font-family: 'Kenia', cursive;
}

.game-container{
    display: inline-block;
    background-color: #303030;
    width: 1280px;
    height: 720px;
    background-color: #303030;
    background-image: url("./assets/img/CityBG.png");
}

#btn{
    background-color: transparent;
    border: 0;
    z-index: 2;
}

#gunBodega{
    position: absolute;
    top: 265px;
    left: 570px;
}

.mafiaWhiteShirt{
    display: none;
    position: absolute;
    top: 350px;
    left: 585px;
    z-index: 2;
}

#gunSMG{
    /* display: none; */
    position: absolute;
    top: 650px;
    left: 320px;
    z-index: 2;
}

#gunFactory{
    /* display: none; */
    display: none;
    position: absolute;
    top: 210px;
    left: 1200px;
    z-index: 2;
}

.mafiaBrownHat{
    display: none;
    position: absolute;
    top: 350px;
    left: 1185px;
    z-index: 2;
}